.wrap {
    margin-top: 50px;
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
  
    .single {
      display: flex;
      width: 100%;
      .singleContainer {
        flex: 6;
        .top {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 10px;
          display: flex;
          gap: 20px;
          .left {
            flex: 1;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 50px;
            position: relative;
            .editButton {
              position: absolute;
              top: 0;
              right: 0;
              width: 80px;
              height: 40px;
              font-size: 18px;
              color: white;
              background-color: black;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
            }
  
            .item {
              display: flex;
              gap: 20px;
  
              .user-avatar--work {
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 50%;
                margin-left: 14px;
                cursor: pointer;
                background-color: #333;
                color: white;
  
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-weight: 600;
              }
              .user-avatar--name {
                text-transform: uppercase;
              }
  
              .details {
                .itemTitle {
                  margin-bottom: 10px;
                  color: #555;
                }
  
                .detailItem {
                  margin-bottom: 10px;
                  font-size: 1.4rem;
  
                  .itemKey {
                    font-weight: bold;
                    color: gray;
                    margin-right: 5px;
                    font-size: 1.4rem;
                  }
  
                  .itemValue {
                    font-weight: 300;
                    color: gray;
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
  
          .right {
            flex: 2;
          }
        }
  
        .bottom {
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          padding: 20px;
          margin: 10px 20px;
        }
  
        .title {
          // font-size: 16px;
          color: gray;
          margin-bottom: 30px;
          font-weight: 500;
        }
      }
    }
  }
  
  .list {
    display: flex;
    width: 100%;
    .listContainer {
      flex: 6;
      font-size: 1.4rem;
    }
  }
  
  .datatable {
    height: 600px;
    padding-left: 30px;
    font-size: 2rem;
  
    .datatableTitle {
      width: 100%;
      font-size: 24px;
      font-weight: 700;
      color: gray;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .link {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 400;
        background: linear-gradient(to right, black 50%, white 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.7s ease-out;
        border: 1px solid green;
        padding: 5px;
        border-radius: 5px;
  
        cursor: pointer;
        &:hover {
          background-position: left bottom;
          color: white;
        }
      }
    }
    .datagrid {
      font-size: 1.4rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
    }
    .cellWithImg {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
  
      .cellImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
      }
    }
  
    .status {
        border: 1px solid lightgray;
        border-radius: 5px;
        font-size: 1.4rem;
        width: 150px;
        height: 30px;
        text-align: center;
        color: white;
        .received {
          background-color: rgba(0, 128, 0, 0.05);
          color: green;
          padding: 5px;
        }
        .pending,
        .shipping,
        .shipped,
        .processing {
          background-color: rgba(255, 217, 0, 0.05);
          color: goldenrod;
          padding: 5px;
        }
        .cancelled {
          background-color: rgba(255, 0, 0, 0.05);
          color: crimson;
          padding: 5px;
        }
      }
  
    .cellAction {
      display: flex;
      align-items: center;
      gap: 15px;
  
      .viewButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgba(0, 0, 139, 0.596);
        cursor: pointer;
        width: 70px;
        text-align: center;
      }
    }
  }
  